In [3]:
import pandas as pd
df = pd.read_csv (r'/Users/FKhan/Downloads/miniconda3/Products.csv',lineterminator='\n')
print (df)

In [5]:
df.head()

,Unnamed: 0,id,product_name,category,product_description,price,location,url,page_id,create_time
0,0,243809c0-9cfc-4486-ad12-3b7a16605ba9,"Mirror wall art | in Wokingham, Berkshire | Gu...","Home & Garden / Dining, Living Room Furniture ...","Mirror wall art. Posted by Nisha in Dining, Li...",£5.00,"Wokingham, Berkshire",https://www.gumtree.com/p/mirrors-clocks-ornam...,1426704584,2022-02-26
1,1,1c58d3f9-8b93-47ea-9415-204fcc2a22e6,"Stainless Steel Food Steamer | in Inverness, H...",Home & Garden / Other Household Goods,Morphy Richard’s (model no 48755)Stainless ste...,£20.00,"Inverness, Highland",https://www.gumtree.com/p/other-household-good...,1426704579,2022-02-26
2,2,860673f1-57f6-47ba-8d2f-13f9e05b8f9a,"Sun loungers | in Skegness, Lincolnshire | Gum...",Home & Garden / Garden & Patio / Outdoor Setti...,I have 2 of these - collection only as I don’t...,£20.00,"Skegness, Lincolnshire",https://www.gumtree.com/p/outdoor-settings-fur...,1426704576,2022-02-26
3,3,59948726-29be-4b35-ade5-bb2fd7331856,Coffee side table from Ammunition ammo box hai...,"Home & Garden / Dining, Living Room Furniture ...",Great reclaimed army ammunition box used as co...,£115.00,"Radstock, Somerset",https://www.gumtree.com/p/other-dining-living-...,1426704575,2022-02-26
4,4,16dbc860-696e-4cda-93f6-4dd4926573fb,Modern Shannon Sofa for sale at low cost | in ...,"Home & Garden / Dining, Living Room Furniture ...",New Design Shannon Corner sofa 5 Seater Avail...,£450.00,"Delph, Manchester",https://www.gumtree.com/p/sofas/modern-shannon...,1426704570,2022-02-26

In [6]:
df.isnull().sum()

Unnamed: 0             0
id                     0
product_name           0
category               0
product_description    0
price                  0
location               0
url                    0
page_id                0
create_time            0
dtype: int64

In [7]:
df.shape

(7156, 10)

In [8]:
df.describe()

        Unnamed: 0       page_id
count  7156.000000  7.156000e+03
mean   3577.500000  1.419364e+09
std    2065.903596  2.165159e+07
min       0.000000  1.015227e+09
25%    1788.750000  1.423359e+09
50%    3577.500000  1.426703e+09
75%    5366.250000  1.426714e+09
max    7155.000000  1.426727e+09

In [1]:
import sklearn
print(sklearn.__version__)

1.1.1

In [9]:
df

,Unnamed: 0,id,product_name,category,product_description,price,location,url,page_id,create_time
0,0,243809c0-9cfc-4486-ad12-3b7a16605ba9,"Mirror wall art | in Wokingham, Berkshire | Gu...","Home & Garden / Dining, Living Room Furniture ...","Mirror wall art. Posted by Nisha in Dining, Li...",£5.00,"Wokingham, Berkshire",https://www.gumtree.com/p/mirrors-clocks-ornam...,1426704584,2022-02-26
1,1,1c58d3f9-8b93-47ea-9415-204fcc2a22e6,"Stainless Steel Food Steamer | in Inverness, H...",Home & Garden / Other Household Goods,Morphy Richard’s (model no 48755)Stainless ste...,£20.00,"Inverness, Highland",https://www.gumtree.com/p/other-household-good...,1426704579,2022-02-26
2,2,860673f1-57f6-47ba-8d2f-13f9e05b8f9a,"Sun loungers | in Skegness, Lincolnshire | Gum...",Home & Garden / Garden & Patio / Outdoor Setti...,I have 2 of these - collection only as I don’t...,£20.00,"Skegness, Lincolnshire",https://www.gumtree.com/p/outdoor-settings-fur...,1426704576,2022-02-26
3,3,59948726-29be-4b35-ade5-bb2fd7331856,Coffee side table from Ammunition ammo box hai...,"Home & Garden / Dining, Living Room Furniture ...",Great reclaimed army ammunition box used as co...,£115.00,"Radstock, Somerset",https://www.gumtree.com/p/other-dining-living-...,1426704575,2022-02-26
4,4,16dbc860-696e-4cda-93f6-4dd4926573fb,Modern Shannon Sofa for sale at low cost | in ...,"Home & Garden / Dining, Living Room Furniture ...",New Design Shannon Corner sofa 5 Seater Avail...,£450.00,"Delph, Manchester",https://www.gumtree.com/p/sofas/modern-shannon...,1426704570,2022-02-26
...,...,...,...,...,...,...,...,...,...,...
7151,7151,c4148656-78a9-4f3e-b393-134fdc5ef900,Sony PlayStation VR Move Bundle | in Acocks Gr...,Video Games & Consoles / Consoles / PS4 (Sony ...,Sony PlayStation VR Move Bundle353CASH ON COLL...,£260.00,"Acocks Green, West Midlands",https://www.gumtree.com/p/ps4/sony-playstation...,1422159237,2022-02-28
7152,7152,564e3411-768d-4250-a624-b119d696f103,"Playstation VR V2 Bundle | in Acocks Green, We...",Video Games & Consoles / Consoles / PS4 (Sony ...,Playstation VR V2 Bundle355CASH ON COLLECTION ...,£235.00,"Acocks Green, West Midlands",https://www.gumtree.com/p/ps4/playstation-vr-v...,1422159464,2022-02-28
7153,7153,2b0a652b-46a2-4297-b619-5efeeb222787,"Oculus quest 2 256gb | in Montrose, Angus | Gu...",Video Games & Consoles / Other Video Games & C...,Pick up only £250Comes with two pistols stocks...,£250.00,"Montrose, Angus",https://www.gumtree.com/p/other-video-games/oc...,1426668818,2022-02-28
7154,7154,719fd40a-870e-4144-b324-55dff2e66fb4,Logitech driving force shifter | in Carrickfer...,Video Games & Consoles / Video Game Accessorie...,Bought at christmas from currys retailing at £...,£30.00,"Carrickfergus, County Antrim",https://www.gumtree.com/p/other-video-game-acc...,1426699715,2022-02-28
7155,7155,86d1806b-5575-4a7e-9160-f24f12be6c95,"20 GAMES & NINTENDO SWITCH BUNDLE | in Poole, ...",Video Games & Consoles / Games,Nintendo Switch console only used 2/3 times. A...,£450.00,"Poole, Dorset",https://www.gumtree.com/p/video-games/20-games...,1426699649,2022-02-28

In [16]:
df['price'] = df['price'].str.strip('£')

In [30]:
df['price'] = df['price'].str.replace(',', '')

In [31]:
df

,Unnamed: 0,id,product_name,category,product_description,price,location,url,page_id,create_time
0,0,243809c0-9cfc-4486-ad12-3b7a16605ba9,"Mirror wall art | in Wokingham, Berkshire | Gu...","Home & Garden / Dining, Living Room Furniture ...","Mirror wall art. Posted by Nisha in Dining, Li...",5.00,"Wokingham, Berkshire",https://www.gumtree.com/p/mirrors-clocks-ornam...,1426704584,2022-02-26
1,1,1c58d3f9-8b93-47ea-9415-204fcc2a22e6,"Stainless Steel Food Steamer | in Inverness, H...",Home & Garden / Other Household Goods,Morphy Richard’s (model no 48755)Stainless ste...,20.00,"Inverness, Highland",https://www.gumtree.com/p/other-household-good...,1426704579,2022-02-26
2,2,860673f1-57f6-47ba-8d2f-13f9e05b8f9a,"Sun loungers | in Skegness, Lincolnshire | Gum...",Home & Garden / Garden & Patio / Outdoor Setti...,I have 2 of these - collection only as I don’t...,20.00,"Skegness, Lincolnshire",https://www.gumtree.com/p/outdoor-settings-fur...,1426704576,2022-02-26
3,3,59948726-29be-4b35-ade5-bb2fd7331856,Coffee side table from Ammunition ammo box hai...,"Home & Garden / Dining, Living Room Furniture ...",Great reclaimed army ammunition box used as co...,115.00,"Radstock, Somerset",https://www.gumtree.com/p/other-dining-living-...,1426704575,2022-02-26
4,4,16dbc860-696e-4cda-93f6-4dd4926573fb,Modern Shannon Sofa for sale at low cost | in ...,"Home & Garden / Dining, Living Room Furniture ...",New Design Shannon Corner sofa 5 Seater Avail...,450.00,"Delph, Manchester",https://www.gumtree.com/p/sofas/modern-shannon...,1426704570,2022-02-26
...,...,...,...,...,...,...,...,...,...,...
7151,7151,c4148656-78a9-4f3e-b393-134fdc5ef900,Sony PlayStation VR Move Bundle | in Acocks Gr...,Video Games & Consoles / Consoles / PS4 (Sony ...,Sony PlayStation VR Move Bundle353CASH ON COLL...,260.00,"Acocks Green, West Midlands",https://www.gumtree.com/p/ps4/sony-playstation...,1422159237,2022-02-28
7152,7152,564e3411-768d-4250-a624-b119d696f103,"Playstation VR V2 Bundle | in Acocks Green, We...",Video Games & Consoles / Consoles / PS4 (Sony ...,Playstation VR V2 Bundle355CASH ON COLLECTION ...,235.00,"Acocks Green, West Midlands",https://www.gumtree.com/p/ps4/playstation-vr-v...,1422159464,2022-02-28
7153,7153,2b0a652b-46a2-4297-b619-5efeeb222787,"Oculus quest 2 256gb | in Montrose, Angus | Gu...",Video Games & Consoles / Other Video Games & C...,Pick up only £250Comes with two pistols stocks...,250.00,"Montrose, Angus",https://www.gumtree.com/p/other-video-games/oc...,1426668818,2022-02-28
7154,7154,719fd40a-870e-4144-b324-55dff2e66fb4,Logitech driving force shifter | in Carrickfer...,Video Games & Consoles / Video Game Accessorie...,Bought at christmas from currys retailing at £...,30.00,"Carrickfergus, County Antrim",https://www.gumtree.com/p/other-video-game-acc...,1426699715,2022-02-28
7155,7155,86d1806b-5575-4a7e-9160-f24f12be6c95,"20 GAMES & NINTENDO SWITCH BUNDLE | in Poole, ...",Video Games & Consoles / Games,Nintendo Switch console only used 2/3 times. A...,450.00,"Poole, Dorset",https://www.gumtree.com/p/video-games/20-games...,1426699649,2022-02-28

In [32]:
df['price'] = df['price'].astype('float64')

In [35]:
df.dtypes

Unnamed: 0               int64
id                      object
product_name            object
category                object
product_description     object
price                  float64
location                object
url                     object
page_id                  int64
create_time             object
dtype: object

In [36]:
df['product_name'].describe()

count                                                  7156
unique                                                 7095
top       Various Original Albums from collection / All ...
freq                                                      4
Name: product_name, dtype: object

In [37]:
df['product_name']

0       Mirror wall art | in Wokingham, Berkshire | Gu...
1       Stainless Steel Food Steamer | in Inverness, H...
2       Sun loungers | in Skegness, Lincolnshire | Gum...
3       Coffee side table from Ammunition ammo box hai...
4       Modern Shannon Sofa for sale at low cost | in ...
                              ...
7151    Sony PlayStation VR Move Bundle | in Acocks Gr...
7152    Playstation VR V2 Bundle | in Acocks Green, We...
7153    Oculus quest 2 256gb | in Montrose, Angus | Gu...
7154    Logitech driving force shifter | in Carrickfer...
7155    20 GAMES & NINTENDO SWITCH BUNDLE | in Poole, ...
Name: product_name, Length: 7156, dtype: object

In [40]:
from sklearn import datasets

X, y = df(return_X_y=True, as_frame=True)
X

TypeError: 'DataFrame' object is not callable

In [7]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import cross_val_score, cross_val_predict
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression

In [ ]:
cvec = CountVectorizer()
X = c.job_title
y = c.dumsal
X_train, X_test, y_test = train_test_split(X, y, test_size=0.33)

In [ ]:
cvec = CountVectorizer(stop_words='english').fit(X_train)
df_train = pd.DataFrame(cvec.transform(X_train).todense(),
columns=cvec.get_feature_names())

In [ ]:
df['price'] = df['price'].astype('float')
df['product_name'] = df['product_name'].astype('string')
df['price'] = df['price'].astype('string')
df['price'] = df['price'].astype('string')
df.info()